In [ ]:
##Question1: Create a single dataframe with the concatenation of all input csv files, adding a column called country

In [1]:
import pandas as     ##For working with dataframes
import glob        ##To find files based on a pattern, for example, all *videos.csv files.
import os      ##To work with paths and file names (extract file names, no paths).

csv_files = glob.glob('*videos.csv')     ##Finds all files in the current folder whose name ends with videos.csv
csv_files

['MXvideos.csv',
 'INvideos.csv',
 'DEvideos.csv',
 'JPvideos.csv',
 'KRvideos.csv',
 'CAvideos.csv',
 'RUvideos.csv',
 'FRvideos.csv',
 'USvideos.csv',
 'GBvideos.csv']

In [3]:
df_list = []

for file in csv_files:
    filename = os.path.basename(file)   # It just separates the file name from the path
    country_code = filename[:2]         # First two letters = country code (US, CA, FR, ...)
    temp_df = pd.read_csv(file, encoding='latin-1')   ##Converts the CSV file to a DataFrame and stores it in temp_df.
                                                    ##Specify encoding='latin-1' to avoid character errors (especially if there are special/non-UTF-8 characters in the data)
    temp_df['country'] = country_code   ##You add a new column called country to the DataFrame.
    df_list.append(temp_df)    ##add the DataFrame for this file (this country) to df_list. At the end of the loop, df_list is a list of multiple DataFrames
                            ##ignore_index=True causes a new index from 0 to n-1 to be created for the entire DataFrame, ignoring previous indexes.(If you don't specify this, indexes from different files may be duplicated.)
combined_df = pd.concat(df_list, ignore_index=True)   ##It concatenates all the DataFrames in df_list (row-wise concatenation).     ##ignore_index=True causes a new index from 0 to n-1 to be created for the entire DataFrame, ignoring previous indexes.(If you don't specify this, indexes from different files may be duplicated.)
combined_df.head()

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description,country
0,SbOwzAl9ZfQ,17.14.11,CapÃ­tulo 12 | MasterChef 2017,MasterChef 2017,24,2017-11-13T06:06:22.000Z,"MasterChef Junior 2017|""TV Azteca""|""recetas""|""...",310130,4182,361,1836,https://i.ytimg.com/vi/SbOwzAl9ZfQ/default.jpg,False,False,False,Disfruta la presencia del Chef Torreblanca en ...,MX
1,klOV6Xh-DnI,17.14.11,ALEXA EX-INTEGRANTE DEL GRUPO TIMBIRICHE RENUN...,Micky Contreras Martinez,22,2017-11-13T05:11:58.000Z,La Voz Mexico 7,104972,271,174,369,https://i.ytimg.com/vi/klOV6Xh-DnI/default.jpg,False,False,False,ALEXA EX-INTEGRANTE DEL GRUPO TIMBIRICHE RENUN...,MX
2,6L2ZF7Qzsbk,17.14.11,LOUIS CKAGÃ - EL PULSO DE LA REPÃBLICA,El Pulso De La RepÃºblica,25,2017-11-13T17:00:02.000Z,"Chumel Torres|""El Pulso de la Republica""|""noti...",136064,10105,266,607,https://i.ytimg.com/vi/6L2ZF7Qzsbk/default.jpg,False,False,False,La canciÃ³n del principio se llama âEste esp...,MX
3,hcY52MFWMDM,17.14.11,Sismo de 6.7 sacude Costa Rica 12 Noviembre 2017,Casanare,25,2017-11-13T03:47:10.000Z,"temblor|""costa rica""|""sismo en costa rica""",96153,378,171,208,https://i.ytimg.com/vi/hcY52MFWMDM/default.jpg,False,False,False,El video es de un Walmart en el pais centroame...,MX
4,_OXDcGPVAa4,17.14.11,DOG HACKS | MUSAS LESSLIE LOS POLINESIOS,Musas,26,2017-11-13T19:17:48.000Z,"MUSAS|""lesslie""|""karen""|""hacks""|""perros""|""dogs...",499965,57781,681,7428,https://i.ytimg.com/vi/_OXDcGPVAa4/default.jpg,False,False,False,MI HERMANO NARRA MI RUTINA DE MAQUILLAJE\nhttp...,MX

In [4]:
combined_df.info()   ##Shows a summary of the DataFrame structure
combined_df['country'].value_counts()    ##Counts the number of rows for each country

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 375942 entries, 0 to 375941
Data columns (total 17 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   video_id                375942 non-null  object
 1   trending_date           375942 non-null  object
 2   title                   375942 non-null  object
 3   channel_title           375942 non-null  object
 4   category_id             375942 non-null  int64
 5   publish_time            375942 non-null  object
 6   tags                    375942 non-null  object
 7   views                   375942 non-null  int64
 8   likes                   375942 non-null  int64
 9   dislikes                375942 non-null  int64
 10  comment_count           375942 non-null  int64
 11  thumbnail_link          375942 non-null  object
 12  comments_disabled       375942 non-null  bool
 13  ratings_disabled        375942 non-null  bool
 14  video_error_or_removed  375942 non-null  bool
 15  description             356464 non-null  object
 16  country                 375942 non-null  object
dtypes: bool(3), int64(5), object(9)
memory usage: 41.2+ MB

country
US    40949
CA    40881
DE    40840
RU    40739
FR    40724
MX    40451
GB    38916
IN    37352
KR    34567
JP    20523
Name: count, dtype: int64

In [ ]:
##Question2: Extract all videos that have no tag

In [83]:
combined_df['tags']

0         MasterChef Junior 2017|"TV Azteca"|"recetas"|"...
1                                           La Voz Mexico 7
2         Chumel Torres|"El Pulso de la Republica"|"noti...
3                temblor|"costa rica"|"sismo en costa rica"
4         MUSAS|"lesslie"|"karen"|"hacks"|"perros"|"dogs...
                                ...
373317    Enrique Iglesias feat. Pitbull|"MOVE TO MIAMI"...
373318    jacob sartorius|"jacob"|"up with it"|"jacob sa...
373319    anne|"marie"|"anne-marie"|"2002"|"two thousand...
373320    Eurovision Song Contest|"2018"|"Lisbon"|"Cypru...
373321    Kyle|"SuperDuperKyle"|"Ikuyo"|"2 Chainz"|"Soph...
Name: tags, Length: 373322, dtype: object

In [84]:
## Build a boolean mask to identify videos with no tags:
## 1) tags equal to the string '[none]' (common convention in this dataset)
## 2) tags are NaN (missing values)
## 3) tags are empty strings (after stripping whitespace)
no_tag_mask = (
    (combined_df['tags'] == '[none]') |     
    (combined_df['tags'].isna()) |           
    (combined_df['tags'].str.strip() == '')     
)

In [87]:
no_tag_videos = combined_df[no_tag_mask].copy()   ### Create a separate DataFrame containing only videos with no tags, notag is true

In [88]:
no_tag_videos.head()

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,...,comments_disabled,ratings_disabled,video_error_or_removed,description,country,like_ratio,publish_time_10min,year,month,day
5,Q9kK6NWZR1U,2017-11-14,Asi se sintio Terremoto en iraq al bordo de ir...,MÃSICA & ENTRETENIMIENTO,10,2017-11-12 20:17:38+00:00,[none],129645,506,67,...,False,False,False,Un fuerte sismo ha afectado en la noche de est...,MX,7.552239,2017-11-12 20:10:00+00:00,2017,11,14
18,7D-swI6qNLM,2017-11-14,HACKS CON SILICÃN CALIENTE,MaireWink,24,2017-11-13 18:00:01+00:00,[none],217025,26934,201,...,False,False,False,CANAL DE HISTORIAS:\nhttps://www.youtube.com/H...,MX,134.000000,2017-11-13 18:00:00+00:00,2017,11,14
24,nEAMm3nGxpM,2017-11-14,El valiente ve la muerte solo una vez - Teaser,Agencia Bengala,1,2017-11-13 13:32:23+00:00,[none],7127,37,3,...,False,False,False,"A lo largo de su vida, Alejo Garza Tamez ha cu...",MX,12.333333,2017-11-13 13:30:00+00:00,2017,11,14
37,cgYhR-3QfhM,2017-11-14,NOTICIAS DE HOY NUEVAS 13 DE OCTUBRE 2017,Las Ultimas de HOY,22,2017-11-12 21:00:01+00:00,[none],195613,929,238,...,False,False,False,NOTICIAS DE HOY NUEVAS 13 DE OCTUBRE 2017,MX,3.903361,2017-11-12 21:00:00+00:00,2017,11,14
55,mevdRfjbwH4,2017-11-14,Leslie mar vs Mayela Without you - la voz MÃ©x...,Pablo Zarate,29,2017-11-13 05:11:11+00:00,[none],15814,91,5,...,False,False,False,NaN,MX,18.200000,2017-11-13 05:10:00+00:00,2017,11,14

In [89]:
len(no_tag_videos)

37209

In [11]:
##Question3: For each channel, determine the total number of views

In [90]:
combined_df.columns

Index(['video_id', 'trending_date', 'title', 'channel_title', 'category_id',
       'publish_time', 'tags', 'views', 'likes', 'dislikes', 'comment_count',
       'thumbnail_link', 'comments_disabled', 'ratings_disabled',
       'video_error_or_removed', 'description', 'country', 'like_ratio',
       'publish_time_10min', 'year', 'month', 'day'],
      dtype='object')

In [91]:
## Group videos by channel and compute the total number of views for each channel, as_index=False let you have new indexes
channel_views = (
    combined_df
    .groupby('channel_title', as_index=False)['views']
    .sum() )

In [14]:
channel_views.head()

                       channel_title    views
0           ! ì¸ìì ë¬´ì¨ì¼ì´  3942977
1  !!8æã ãé¢ç½ãã¿å¤§éå    50207
2             !BTSã»TWICE ã¾ã¨ã     7310
3            !Los amorosos ViralesÂ¡     6069
4                            !t Live   240038

In [15]:
channel_views_sorted = channel_views.sort_values('views', ascending=False)
channel_views_sorted.head(20)

                     channel_title        views
4564           ChildishGambinoVEVO  11016766510
15536         Marvel Entertainment  10430605449
17726                   NickyJamTV   9479859505
18466                        Ozuna   8623329509
28412                      ibighit   8205572221
6689                     DrakeVEVO   7637228580
2788                     Bad Bunny   7124207494
2101              ArianaGrandeVevo   6202230488
28621             jypentertainment   5802822913
7047                    Ed Sheeran   5775405574
26856            YouTube Spotlight   5631362655
23751              TaylorSwiftVEVO   5606408128
8487                 Flow La Movie   5185429178
22413  Sony Pictures Entertainment   4853345002
2999                    BeckyGVEVO   4420863279
15237                   MalumaVEVO   4389295960
6754                  Dude Perfect   4173361180
233               20th Century Fox   4065942047
6415                Disneyâ¢Pixar   4017674976
25367           Universal Pictures   3664078013

In [16]:
##Question4: Save all rows with disabled comments and disabled ratings, or that have video_error_or_removed in a new dataframe called excluded, and remove those rows from the original dataframe.

In [92]:
# Create a mask for rows where both comments and ratings are disabled, or where the video has an error or has been removed
mask_excluded = (
    (combined_df['comments_disabled'] & combined_df['ratings_disabled']) |
    (combined_df['video_error_or_removed'])
)

In [18]:
mask_excluded.sum()

np.int64(2620)

In [97]:
# Store the problematic rows in a separate DataFrame
excluded = combined_df[mask_excluded].copy()

In [95]:
excluded.head()

Empty DataFrame
Columns: [video_id, trending_date, title, channel_title, category_id, publish_time, tags, views, likes, dislikes, comment_count, thumbnail_link, comments_disabled, ratings_disabled, video_error_or_removed, description, country, like_ratio, publish_time_10min, year, month, day]
Index: []

[0 rows x 22 columns]

In [96]:
excluded.shape

(0, 22)

In [100]:
# Remove the problematic rows from the original DataFrame
combined_df = combined_df[~mask_excluded].copy()
# Reset the index after removing rows
combined_df.reset_index(drop=True, inplace=True)

In [98]:
combined_df.shape

(373322, 22)

In [99]:
excluded.shape

(0, 22)

In [22]:
# Final check: verify that no problematic rows remain in the cleaned DataFrame
remaining_problematic = combined_df[
    (combined_df['comments_disabled'] & combined_df['ratings_disabled']) |
    (combined_df['video_error_or_removed'])
]
remaining_problematic.shape

(0, 17)

In [23]:
##Question5:Add a like_ratio column storing the ratio between the number of likes and of dislikes

In [101]:
##Because of using np.where and np.nan
import numpy as np

In [102]:
combined_df['like_ratio'] = np.where(
    combined_df['dislikes'] > 0,
    combined_df['likes'] / combined_df['dislikes'],np.nan)

In [103]:
combined_df[['likes', 'dislikes', 'like_ratio']].head(10)

   likes  dislikes  like_ratio
0   4182       361   11.584488
1    271       174    1.557471
2  10105       266   37.988722
3    378       171    2.210526
4  57781       681   84.847283
5    506        67    7.552239
6   2277        69   33.000000
7   7745       659   11.752656
8  20155       912   22.099781
9  83582      2194   38.095716

In [27]:
combined_df[combined_df['dislikes'] == 0][['likes', 'dislikes', 'like_ratio']].head()

     likes  dislikes  like_ratio
31       0         0         NaN
87       0         0         NaN
118    823         0         NaN
186     12         0         NaN
192     20         0         NaN

In [28]:
##Question6: Cluster the publish time into 10-minute intervals (e.g. from 02:20 to 02:30)

In [29]:
combined_df['publish_time'].dtype

dtype('O')

In [30]:
combined_df['publish_time'] = pd.to_datetime(combined_df['publish_time'], errors='coerce')

In [31]:
combined_df['publish_time'].dtype

datetime64[ns, UTC]

In [34]:
combined_df['publish_time_10min'] = combined_df['publish_time'].dt.floor('10min')
combined_df[['publish_time', 'publish_time_10min']].head(10)

               publish_time        publish_time_10min
0 2017-11-13 06:06:22+00:00 2017-11-13 06:00:00+00:00
1 2017-11-13 05:11:58+00:00 2017-11-13 05:10:00+00:00
2 2017-11-13 17:00:02+00:00 2017-11-13 17:00:00+00:00
3 2017-11-13 03:47:10+00:00 2017-11-13 03:40:00+00:00
4 2017-11-13 19:17:48+00:00 2017-11-13 19:10:00+00:00
5 2017-11-12 20:17:38+00:00 2017-11-12 20:10:00+00:00
6 2017-11-13 07:00:03+00:00 2017-11-13 07:00:00+00:00
7 2017-11-13 06:18:23+00:00 2017-11-13 06:10:00+00:00
8 2017-11-12 19:54:12+00:00 2017-11-12 19:50:00+00:00
9 2017-11-12 21:14:44+00:00 2017-11-12 21:10:00+00:00

In [35]:
##Question7:For each interval, determine the number of videos, average number of likes and of dislikes

In [36]:
interval_stats = (
    combined_df
    .groupby('publish_time_10min')
    .agg(
        videos_count=('video_id', 'count'),   ## number of rows (videos) in each interval
        avg_likes=('likes', 'mean'),          ## average number of likes
        avg_dislikes=('dislikes', 'mean')     ## average number of dislikes    )
    .reset_index()  ### turn the grouped index back into a regular column
)

interval_stats.head(10)

         publish_time_10min  videos_count    avg_likes  avg_dislikes
0 2006-07-23 08:20:00+00:00             1   459.000000    152.000000
1 2007-03-05 16:20:00+00:00             9   336.666667      2.000000
2 2007-06-25 06:50:00+00:00            12   579.833333     11.500000
3 2007-12-03 20:50:00+00:00            16   187.937500     15.687500
4 2008-01-07 21:20:00+00:00            10    99.900000      2.000000
5 2008-01-13 01:30:00+00:00             2  1417.000000     49.500000
6 2008-02-12 20:20:00+00:00             3  1985.666667    124.666667
7 2008-04-05 18:20:00+00:00             4    46.000000      6.000000
8 2008-06-17 00:00:00+00:00             4   469.000000      4.000000
9 2008-08-07 12:10:00+00:00             3    78.333333      1.000000

In [37]:
##Question8: For each tag, determine the number of videos. Notice that tags contains a string with several tags.

In [107]:
## Work on a copy to avoid modifying the original DataFrame
tags_df = combined_df.copy()
tags_df = tags_df[
    tags_df['tags'].notna() &         
    (tags_df['tags'] != '[none]') &    
    (tags_df['tags'].str.strip() != '') ].copy()

In [108]:
tags_df[['video_id', 'tags']].head()

      video_id                                               tags
0  SbOwzAl9ZfQ  MasterChef Junior 2017|"TV Azteca"|"recetas"|"...
1  klOV6Xh-DnI                                    La Voz Mexico 7
2  6L2ZF7Qzsbk  Chumel Torres|"El Pulso de la Republica"|"noti...
3  hcY52MFWMDM         temblor|"costa rica"|"sismo en costa rica"
4  _OXDcGPVAa4  MUSAS|"lesslie"|"karen"|"hacks"|"perros"|"dogs...

In [113]:
tags_df['tag_list'] = tags_df['tags'].str.split('|')  ## Split the tags string into a list of individual tags
tags_df[['video_id', 'tag_list']].head()

      video_id                                           tag_list
0  SbOwzAl9ZfQ  [MasterChef Junior 2017, "TV Azteca", "recetas...
1  klOV6Xh-DnI                                  [La Voz Mexico 7]
2  6L2ZF7Qzsbk  [Chumel Torres, "El Pulso de la Republica", "n...
3  hcY52MFWMDM     [temblor, "costa rica", "sismo en costa rica"]
4  _OXDcGPVAa4  [MUSAS, "lesslie", "karen", "hacks", "perros",...

In [114]:
# Explode the list so that each tag becomes its own row
tags_exploded = tags_df.explode('tag_list').copy()
tags_exploded[['video_id', 'tag_list']].head()

      video_id                tag_list
0  SbOwzAl9ZfQ  MasterChef Junior 2017
0  SbOwzAl9ZfQ             "TV Azteca"
0  SbOwzAl9ZfQ               "recetas"
0  SbOwzAl9ZfQ                "cocina"
0  SbOwzAl9ZfQ         "Anette Michel"

In [115]:
## For each tag, count the number of unique videos that use it
tag_counts = (
    tags_exploded
    .groupby('tag_list')['video_id']
    .nunique()   # تعداد video_id یکتا برای هر تگ
    .reset_index(name='videos_count')
    .sort_values('videos_count', ascending=False)
)
tag_counts.head(20)

                  tag_list  videos_count
12773               "2018"          5563
343032             "funny"          4096
283298            "comedy"          3044
452295              "news"          2794
11973               "2017"          2576
520374              "show"          2034
571106             "video"          2014
544833        "television"          1716
561261                "tv"          1700
444304             "music"          1465
676028    "Ð½Ð¾Ð²Ð¾ÑÑÐ¸"          1392
722182          "ÑÐ¼Ð¾Ñ"          1376
685801  "Ð¿Ð¾Ð»Ð¸ÑÐ¸ÐºÐ°"          1373
370426             "humor"          1333
370484            "humour"          1333
574179              "vlog"          1320
193545                "TV"          1312
499169            "review"          1291
677582        "Ð¾Ð±Ð·Ð¾Ñ"          1257
414426              "live"          1254

In [116]:
##Question9:Find the tags with the largest number of videos

In [44]:
top_10_tags = tag_counts.head(10)
top_10_tags

            tag_list  videos_count
12773         "2018"          5563
343032       "funny"          4096
283298      "comedy"          3044
452295        "news"          2794
11973         "2017"          2576
520374        "show"          2034
571106       "video"          2014
544833  "television"          1716
561261          "tv"          1700
444304       "music"          1465

In [45]:
##Question10:For each (tag, country) pair, compute average ratio likes/dislikes

In [46]:
tags_df = combined_df[
    combined_df['tags'].notna() &
    (combined_df['tags'] != '[none]') &
    (combined_df['tags'].str.strip() != '')
].copy()

In [47]:
tags_df['tag_list'] = tags_df['tags'].str.split('|')

In [48]:
tags_exploded = tags_df.explode('tag_list').copy()

In [49]:
tag_country_ratio = (
    tags_exploded
    .groupby(['tag_list', 'country'])
    .agg(
        avg_like_ratio=('like_ratio', 'mean'),
        n_videos=('video_id', 'nunique')         
    )
    .reset_index()
)

In [51]:
tag_country_ratio[['tag_list', 'country', 'avg_like_ratio']].head(10)

        tag_list country  avg_like_ratio
0                     CA        8.618739
1                     DE       24.344225
2                     FR       16.424636
3                     IN        7.659699
4                     JP        9.894877
5                     KR        5.962745
6                     MX       10.845774
7                     RU       38.826241
8   #Freeticket"      IN        2.665679
9          #GST       IN        2.416896

In [ ]:
##Question11: For each (trending_date, country) pair, the video with the largest number of views

In [52]:
combined_df.columns

Index(['video_id', 'trending_date', 'title', 'channel_title', 'category_id',
       'publish_time', 'tags', 'views', 'likes', 'dislikes', 'comment_count',
       'thumbnail_link', 'comments_disabled', 'ratings_disabled',
       'video_error_or_removed', 'description', 'country', 'like_ratio',
       'publish_time_10min'],
      dtype='object')

In [54]:
idx = combined_df.groupby(['trending_date', 'country'])['views'].idxmax()
idx.head()

trending_date  country
17.01.12       CA         175534
               DE          80652
               FR         257054
               GB         338276
               IN          43515
Name: views, dtype: int64

In [56]:
##Question12: Divide trending_date into three columns: year, month, day

In [57]:
## Inspect the original trending_date values
combined_df['trending_date'].head(10)

0    17.14.11
1    17.14.11
2    17.14.11
3    17.14.11
4    17.14.11
5    17.14.11
6    17.14.11
7    17.14.11
8    17.14.11
9    17.14.11
Name: trending_date, dtype: object

In [58]:
# Check the current data type (likely 'object')
combined_df['trending_date'].dtype

dtype('O')

In [117]:
## Convert trending_date from string (YY.DD.MM) to datetime format
combined_df['trending_date'] = pd.to_datetime(
    combined_df['trending_date'],
    format='%y.%d.%m',  # format: year (2 digits), day, month
    errors='coerce' # convert invalid values to NaT
)

In [60]:
combined_df['trending_date'].dtype

dtype('<M8[ns]')

In [61]:
combined_df['trending_date'].head()

0   2017-11-14
1   2017-11-14
2   2017-11-14
3   2017-11-14
4   2017-11-14
Name: trending_date, dtype: datetime64[ns]

In [62]:
combined_df['year'] = combined_df['trending_date'].dt.year
combined_df['month'] = combined_df['trending_date'].dt.month
combined_df['day'] = combined_df['trending_date'].dt.day

In [63]:
combined_df[['trending_date', 'year', 'month', 'day']].head(10)

  trending_date  year  month  day
0    2017-11-14  2017     11   14
1    2017-11-14  2017     11   14
2    2017-11-14  2017     11   14
3    2017-11-14  2017     11   14
4    2017-11-14  2017     11   14
5    2017-11-14  2017     11   14
6    2017-11-14  2017     11   14
7    2017-11-14  2017     11   14
8    2017-11-14  2017     11   14
9    2017-11-14  2017     11   14

In [64]:
##Question13: For each (month, country) pair, the video with the largest number of views

In [65]:
idx_month_country = combined_df.groupby(
    ['month', 'country']
)['views'].idxmax()

In [66]:
idx_month_country.head()

month  country
1      CA         183337
       DE          88233
       FR         264589
       GB         347406
       IN          52208
Name: views, dtype: int64

In [67]:
top_month_country = combined_df.loc[idx_month_country].reset_index(drop=True)
top_month_country.head()

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,...,comments_disabled,ratings_disabled,video_error_or_removed,description,country,like_ratio,publish_time_10min,year,month,day
0,LsoLEjrDogU,2018-01-09,Bruno Mars - Finesse (Remix) [Feat. Cardi B] [...,Bruno Mars,10,2018-01-04 04:49:43+00:00,"Bruno Mars|""Finesse""|""Cardi B""|""Finesse Remix""...",43067983,1717177,61567,...,False,False,False,Finesse (Remix) Feat. Cardi B Available Now: h...,CA,27.891192,2018-01-04 04:40:00+00:00,2018,1,9
1,LsoLEjrDogU,2018-01-08,Bruno Mars - Finesse (Remix) [Feat. Cardi B] [...,Bruno Mars,10,2018-01-04 04:49:43+00:00,"Bruno Mars|""Finesse""|""Cardi B""|""Finesse Remix""...",37728802,1629946,56305,...,False,False,False,Finesse (Remix) Feat. Cardi B Available Now: h...,DE,28.948513,2018-01-04 04:40:00+00:00,2018,1,8
2,LsoLEjrDogU,2018-01-08,Bruno Mars - Finesse (Remix) [Feat. Cardi B] [...,Bruno Mars,10,2018-01-04 04:49:43+00:00,"Bruno Mars""|""Finesse""|""Cardi B""|""Finesse Remix...",37728802,1629948,56305,...,False,False,False,Finesse (Remix) Feat. Cardi B Available Now: h...,FR,28.948548,2018-01-04 04:40:00+00:00,2018,1,8
3,LsoLEjrDogU,2018-01-18,Bruno Mars - Finesse (Remix) [Feat. Cardi B] [...,Bruno Mars,10,2018-01-04 04:49:43+00:00,"Bruno Mars|""Finesse""|""Cardi B""|""Finesse Remix""...",90598955,2248693,93089,...,False,False,False,Finesse (Remix) Feat. Cardi B Available Now: h...,GB,24.156377,2018-01-04 04:40:00+00:00,2018,1,18
4,dfnCAmr569k,2018-01-18,"Taylor Swift - End Game ft. Ed Sheeran, Future",TaylorSwiftVEVO,10,2018-01-12 05:00:01+00:00,"Taylor|""Swift""|""End""|""Game""|""Big""|""Machine""|""Pop""",42019590,1804377,100033,...,False,False,False,Music video by Taylor Swift performing End Gam...,IN,18.037818,2018-01-12 05:00:00+00:00,2018,1,18

In [68]:
##Question14: Read all json files with the video categories

In [69]:
import pandas as pd
import glob  ##For finding files with pattern
import json  ## for loading json file
import os  ##working with paths

In [70]:
json_files = glob.glob('*_category_id.json')
json_files

['IN_category_id.json',
 'RU_category_id.json',
 'JP_category_id.json',
 'FR_category_id.json',
 'GB_category_id.json',
 'KR_category_id.json',
 'MX_category_id.json',
 'CA_category_id.json',
 'US_category_id.json',
 'DE_category_id.json']

In [72]:
category_dfs = []

for file in json_files:
    country_code = file[:2]  # Extract the 2-letter country code from the file name (e.g. 'US', 'GB', 'FR')
    
    with open(file, 'r', encoding='utf-8') as f:  # Open and load the JSON file . with is a context manager; when the block is finished, the file is automatically closed.
        data = json.load(f)  #json.load(f) converts the JSON contents into a Python structure (usually a dict) and places it in data
    
    df_cat = pd.json_normalize(data['items'])   # Normalize the 'items' list into a flat DataFrame
    
    df_cat['country'] = country_code      # Add a column indicating the country this category file belongs to
    
    category_dfs.append(df_cat)  # Collect the per-country DataFrame

categories_df = pd.concat(category_dfs, ignore_index=True) # Concatenate all category DataFrames (for all countries) into a single DataFrame
categories_df.head()

,kind,etag,id,snippet.channelId,snippet.title,snippet.assignable,country
0,youtube#videoCategory,"""XI7nbFXulYBIpL0ayR_gDh3eu1k/Xy1mB4_yLrHy_BmKm...",1,UCBR8-60-B28hp2BmDPdntcQ,Film & Animation,True,IN
1,youtube#videoCategory,"""XI7nbFXulYBIpL0ayR_gDh3eu1k/UZ1oLIIz2dxIhO45Z...",2,UCBR8-60-B28hp2BmDPdntcQ,Autos & Vehicles,True,IN
2,youtube#videoCategory,"""XI7nbFXulYBIpL0ayR_gDh3eu1k/nqRIq97-xe5XRZTxb...",10,UCBR8-60-B28hp2BmDPdntcQ,Music,True,IN
3,youtube#videoCategory,"""XI7nbFXulYBIpL0ayR_gDh3eu1k/HwXKamM1Q20q9BN-o...",15,UCBR8-60-B28hp2BmDPdntcQ,Pets & Animals,True,IN
4,youtube#videoCategory,"""XI7nbFXulYBIpL0ayR_gDh3eu1k/9GQMSRjrZdHeb1OEM...",17,UCBR8-60-B28hp2BmDPdntcQ,Sports,True,IN

In [73]:
##Question15: For each country, determine how many videos have a category that is not assignable.

In [74]:
# Rename columns from the categories JSON to more convenient names
categories_df = categories_df.rename(columns={
    'id': 'category_id',
    'snippet.title': 'category_title',
    'snippet.assignable': 'assignable'
})
# Ensure category_id is numeric so it matches the type in combined_df
categories_df['category_id'] = categories_df['category_id'].astype(int)
# Quick sanity check: inspect key columns in the categories DataFrame
categories_df[['country', 'category_id', 'category_title', 'assignable']].head()

  country  category_id    category_title  assignable
0      IN            1  Film & Animation        True
1      IN            2  Autos & Vehicles        True
2      IN           10             Music        True
3      IN           15    Pets & Animals        True
4      IN           17            Sports        True

In [118]:
# Merge video data with category metadata (assignable flag) per (country, category_id)
videos_with_cat = combined_df.merge(
    categories_df[['country', 'category_id', 'assignable']],
    how='left',
    on=['country', 'category_id']
)
videos_with_cat[['country', 'category_id', 'assignable']].head()

  country  category_id assignable
0      MX           24       True
1      MX           22       True
2      MX           25       True
3      MX           25       True
4      MX           26       True

In [76]:
## Keep only videos whose category is not assignable
not_assignable_videos = videos_with_cat[videos_with_cat['assignable'] == False]

# For each country, count how many videos have a non-assignable category
not_assignable_counts = (
    not_assignable_videos
    .groupby('country')
    .size()
    .reset_index(name='n_videos_not_assignable')
)

not_assignable_counts

  country  n_videos_not_assignable
0      CA                      130
1      DE                      110
2      FR                      112
3      GB                       20
4      IN                      221
5      KR                      167
6      MX                        3
7      RU                      195
8      US                       57

In [77]:
not_assignable_videos['assignable'].value_counts()

assignable
False    1015
Name: count, dtype: int64